body {
    margin: 0;
}

.drop-down-container {
    width: fit-content;
    transition: 1s all;

    position: relative;
    overflow: hidden;

    display: grid;
    align-content: flex-start;
}

.drop-down-container.hidden {
    height: 0;
}

.drop-down-menu {
    width: fit-content;
}

.drop-down-button {
    padding: 5px 10px;
    background-color: aquamarine;
    border: none;
}


